---
import { getCollection } from "astro:content";
import AuthorStatusWidget from "../components/AuthorStatusWidget.astro";
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const projectEntries = await getCollection("projects");
const projects = projectEntries.map((entry) => entry.data);
---

<BaseLayout
	title="ONIGIRI PORTAL | Top"
	description="HappyOnigiri's Portfolio"
>

	<section class="cyber-header">
		<h1 class="cyber-glitch">ONIGIRI PORTAL</h1>
	</section>

	<section aria-label="Projects" style="margin-bottom: 3rem;">
		<div class="grid">
			{projects.map((project) => <ProjectCard project={project} />)}
		</div>
	</section>

	<section aria-label="HappyOnigiri Status" style="margin-bottom: 3rem;">
		<AuthorStatusWidget />
	</section>
</BaseLayout>
